html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

body {
  cursor: url(assets/cursor.png), auto;
}

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

a:visited {
  color: blue;
}

a:hover {
  color: red;
}

h1,
h2,
h3,
h4,
p,
p > * {
  line-height: 1.2;
}

#controls {
  position: fixed;
  right: 0vh;
  top: calc(50vh - 8.5vh);
  z-index: 9999;

  height: 17vh;
  display: grid;
  grid-template-rows: 2vh 6vh 1vh 6vh 2vh;

  padding-right: 1.5vh;
  padding-left: 0.5vh;
  border-radius: 4vh 0vh 0vh 4vh;

  background-color: white;
  filter: drop-shadow(0vh 0vh 1vh white) drop-shadow(0vh 0vh 1.5vh white)
    drop-shadow(0vh 0vh 1vh white) drop-shadow(0vh 0vh 0.5vh white);

  > #previous,
  > #next {
    font-size: 5vh;
    line-height: 1;
    user-select: none;
    cursor: pointer;
    border-radius: 10vh;

    padding-inline: 1vh;

    filter: opacity(0.4);
    transition: all 0.3s ease-in-out;
  }

  > #previous:hover,
  > #next:hover {
    filter: opacity(1);
  }
}

#prefetch-indicator {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#slide-wrapper {
  display: grid;
  width: 100vw;
  height: 100vh;

  justify-items: center;
  align-items: center;
}

#slide {
  border-radius: 24px;
  box-shadow:
    inset 5px 5px 10px white,
    inset -5px -5px 10px white,
    inset -5px 5px 10px white,
    inset 5px -5px 10px white;
  outline: 4px solid white;
  outline-offset: -1px;
}

#slide > div {
  border-radius: 6px;
  display: flex;
  align-items: center;
}

#slide > div.image {
  display: block;

  > .text {
    margin: 4px;
    border-radius: 6px;
    padding-inline: 6px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
}

#slide > div > .text {
  margin-left: 8px;
  padding-right: 8px;
  width: fit-content;
}
